:root{
    --primary_color: #4CC986;
    --secondary_color: #3c8c66;
}


body,html{
    
    background-size: cover;
    background-repeat: no-repeat;

    font-family: 'Exo';
    font-style: normal;
}

.logo{
    width: 293.54px;
    height: 37.46px;
    margin-top: 14.27px;
    margin-left: 14.23px;
}

.backCard{
    background-color: #303030;
    position: absolute;
    width: 462px;
    height: 702px;
    margin-left: 55%;
    margin-top: 160px;
    
    mix-blend-mode: overlay;
    backdrop-filter: blur(10px);

    border-radius: 12px;
}


.loginCard{

    position: absolute;
    width: 462px;
    height: 702px;
    margin-left: 55%;
    margin-top: 160px;

    border-radius: 12px;
}


.loginCard__title{
    
    color: #FFFFFF;

    position: absolute;
    width: 362px;
    height: 27px;

    top: 40px;
    left: 50px;
    
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;

    text-align: center;
}


.loginCard__subtitle{

    position: absolute;
    width: 362px;
    height: 28px;

    left: 50px;
    top: 75px;

    font-weight: 400;
    font-size: 16px;
    line-height: 21px;

    text-align: center;

    color: #FFFFFF;

}

.loginCard__mail{
    
    position: absolute;
    width: 362px;
    height: 47px;
    top: 135px;
    left: 50px;
}

.loginCard__mail--position{
    
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    background: #FFFFFF;
    border-radius: 4px;
}

.loginCard__password{

    position: absolute;
    width: 362px;
    height: 47px;
    left: 50px;
    top: 198px;
}

.loginCard__password--position{

    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    background: #FFFFFF;
    border-radius: 4px;
    
}

.loginCard__password--eye{

    position: relative;
    width: 21.69px;
    height: 16px;  
    left: 331.16px;
    top: 16px;
}

.loginCard_chechBox{

    position: absolute;
    width: 20px;
    height: 20px;
    left: 55px;
    top: 262px;
    
}

.loginCard_chechBox--position{

    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    background: #FFFFFF;
    border-radius: 4px;

}

.loginCard__rememberMe{

    position: absolute;
    height: 19px;
    
    top: 259px;
    left: 86px;

    margin-top: 3px;
    margin-bottom: auto;

    font-weight: 400;
    font-size: 14px;
    line-height: 19px;

    display: flex;
    align-items: center;

    color: #FFFFFF;

}

.loginCard__forgotPass{

    position: absolute;

    width: 120.35px;
    height: 19px;
    
    top: 258px;
    right: 49.65px;

    margin-top: 3px;
    margin-bottom: 0px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400px;
    font-size: 14px;
    line-height: 19px;

    display: absolute;
    align-items: center;
    text-align: right;

    color: var(--secondary_color);
}

.loginCard_button{

    position: absolute;
    width: 362px;
    height: 47px;
    left: 50px;
    top: 312px;

}

.loginCard_button--position{
  
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    background: var(--primary_color);
    border-radius: 6px;

}

.loginCard__notRegist{
    /*Not registered yet?*/

    position: absolute;
    height: 19px;
    left: 120px;
    top: 381px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;

    text-align: right;

    color: #808082;
}

.loginCard__registerNow{
    /*Register now text*/

    position: absolute;
    height: 19px;
    left: 253.84px;
    top: 381px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;

    text-align: right;

    color: var(--secondary_color);
}

.loginCard__linea1{

    position: absolute;

    left: 264.56px;
    top: 416px;
    

    width: 147.44px;
    height: 2.1px;

    border: 1px solid #FFFFFF;
}

.loginCard__or{
    position: absolute;
    color: grey;

    width: 67.12px;
    height: 19.71px;

    top: 421px;
    left: 197.44px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
}

.loginCard__linea2{

    position: absolute;

    left: 50px;
    top: 416px;
    

    width: 147.44px;
    height: 2.1px;

    border: 1px solid #FFFFFF;
}


.loginCard__borderButtonFB--style{
    box-sizing: border-box;
    position: absolute;
    background-color: transparent;

    width: 362px;
    height: 47px;

    left: 50px;
    top: 473px;

    color: white;
    font-family: 'Exo';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    display: absolute;
    align-items: center;
    text-align: center;
    
    border: 2px solid white;
    border-radius: 6px;
}

.loginCard__borderButtonFB--logo{
    position: relative;
    width: auto;
    height: auto;
    left: 111px;
    top: 485px;
}

.loginCard__borderButtonTW--style{
    box-sizing: border-box;
    position: absolute;
    background-color: transparent;

    width: 362px;
    height: 47px;

    left: 50px;
    top: 545px;

    color: white;
    font-family: 'Exo';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    display: absolute;
    align-items: center;
    text-align: center;
    
    border: 2px solid white;
    border-radius: 6px;
}

.loginCard__borderButtonTW--logo{
    position: relative;
    width: auto;
    height: auto;
    left: 111px;
    top: 531px;
}

.loginCard__borderButtonGG--style{
    box-sizing: border-box;
    position: absolute;
    background-color: transparent;

    width: 362px;
    height: 47px;

    left: 50px;
    top: 616px;

    color: white;
    font-family: 'Exo';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    display: absolute;
    align-items: center;
    text-align: center;
    
    
    border: 2px solid white;
    border-radius: 6px;
}

.loginCard__borderButtonGG--logo{
    position: relative;
    width: auto;
    height: auto;
    left: 111px;
    top: 580px;
}