body{
    background: #1a1a1a;
}

.header{
    /* Rectangle */

    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 90.82%;

    background: linear-gradient(180deg, #5FE19B 0%, #36B972 50%, #0EA152 100%);
    box-shadow: 1px -3px 36px rgba(0, 0, 0, 0.5);
}

.header__borderLogo{

    position: absolute;
    width: 293px;
    height: 60px;
    left: 27px;
    top: 16px;
}

.header__borderLogo--logo{
    
    position: absolute;
    left: 4.42%;
    right: 4.42%;
    top: 21.62%;
    bottom: 21.62%;

}

.header__borderSearch{

    position: absolute;
    width: 362px;
    height: 47px;
    left: 539px;
    top: 23px;

}

.header__borderSearch--search{

    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    background: #FFFFFF;
    border-radius: 4px;

}

.header__logOut{

    position: absolute;
    width: 66px;
    height: 39px;
    left: 1310px;
    top: 31px;
    margin-top: auto;
    margin-bottom: auto;

    font-family: 'Exo';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: right;

    color: #FFFFFF;

}

.header__borderProfile{

    position: absolute;
    width: 60px;
    height: 60px;
    left: 1390px;
    top: 20px;

}

.header__borderProfile--picture{

    box-sizing: border-box;
    justify-content: center;
    
    width: 60px;
    height: 60px;

    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    background: url(http://127.0.0.1:5500/AltimetrikGameFinderApp/Images/ProfilePicture.png), #C4C4C4;
    border-radius: 50%;

}

.main__newAndTrending{
    
    /*New and trending*/
    
    position: absolute;
    height: 65px;
    left: 2.78%;
    right: 69.44%;
    top: calc(50% - 65px/2 - 420px);

    font-family: 'Exo';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;

    color: #FFFFFF;

}

.main__baseOnPlayer{
    
    /* Based on player counts and realese date */

    position: absolute;
    height: 24px;
    left: 2.78%;
    right: 73.12%;
    top: calc(50% - 24px/2 - 330px);

    font-family: 'Exo';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;

    color: #ffffff92;

}

.nav{
    position: absolute;

    width: 250px;
    height: 600px;

    top: 250px;
}

.nav__home{

    /* Home */

    position: absolute;
    height: 27px;
    left: 13.5%;
    right: 93.4%;
    top: calc(50% - 27px/2 - 263.5px);

    font-family: 'Exo';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;

color: #5FE19B;
}

.nav__reviews{
    
    /* Reviews */

    position: absolute;
    height: 27px;
    left: 13.5%;
    right: 91.88%;
    top: calc(50% - 27px/2 - 222.5px);

    font-family: 'Exo';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;

    color: #FFFFFF;
}

.nav__newReleases{

    /* New Releases */

    position: absolute;
    height: 27px;
    left: 13.5%;
    right: 0%;
    top: calc(50% - 27px/2 - 181.5px);

    font-family: 'Exo';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;

    color: #FFFFFF;
}